/* ::::::::::::: Fonts ::::::::::::: */

/* Icons */
/* <i class="fab fa-instagram"></i>
<i class="fab fa-facebook"></i>
<i class="fab fa-twitter-square"></i>
<i class="fab fa-twitch"></i> */
/* <i class="fas fa-user"></i>
<i class="fas fa-bars"></i>
<i class="fas fa-search"></i> */
/* ::::::::::::: Globals ::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ::::::::::::: Variables ::::::::::::: */
:root {
  --BgColor: ;
}

/* ::::::::::::: Globals ::::::::::::: */
/* ::::::::::::: Globals ::::::::::::: */
/* ::::::::::::: Globals ::::::::::::: */
/* ::::::::::::: Globals ::::::::::::: */
/* ::::::::::::: Globals ::::::::::::: */
/* ::::::::::::: Globals ::::::::::::: */
/* ::::::::::::: Globals ::::::::::::: */
